[user]
	name = zhuyan
	email = zhuyan-s@360.cn
[core]
	editor = vim
	excludesfile = /Users/halfcrazy/.gitignore_global
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	uncommit = reset --soft HEAD~
	last = log -1 HEAD
	pro = pull --rebase origin
	pru = pull --rebase upstream
	getsub = submodule update --init --recursive
[pull]
	default = current
[push]
	default = current
[commit]
	template = /Users/halfcrazy/.git_commit_msg.txt
